#set( $customer = $subscription.customer )
#set( $magazine = $subscription.magazine )

$customer.firstName,

Your subscription to ${magazine.title} on $subscription.endDate.  If you are 
interested in renewing your subscription, please click on the following URL, 
and enter your password:

${magazine.baseUrl}/renew?cust=${customer.id}

Thanks!